<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyConexionSql" connectionString="Server=10.10.10.206;Database=BdWebService;User ID=sa;Password=Bata2013;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<runtime>
    <gcAllowVeryLargeObjects enabled = "true" />
  </runtime>-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <!--100 Mb. Minutos 20 -->
    <httpRuntime maxRequestLength="1000000000" executionTimeout="1200"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength = "1000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>