<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="SQL_PROD_POS" connectionString="Server=posperu.bgr.pe;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="SQL_PROD_WB" connectionString="Server=posperu.bgr.pe;Database=BdWebService;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="SQL_PROD_WS" connectionString="Server=posperu.bgr.pe;Database=BDWSBATA;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
    <add name="SQL_PROD_POS" connectionString="TedvE2mbo00jmN4kPh9qMRKO1enVfynPp4KjfJyYw2IJ7d9UA7NR+Ttu09Wp6EIExiAAp2DZehC+k5gPq99LaKmap3lObEtSQLh9Q1ivz+pnmGpT8DOJYMJ8b8eZWEvTgfYaDOW2qFKPHVNKED1sdQ==" providerName="System.Data.SqlClient"/>
    <add name="SQL_PROD_WB" connectionString="TedvE2mbo00jmN4kPh9qMRKO1enVfynPp4KjfJyYw2L+YrzNjtu+NSdZWPS2JG+iEmNDTIO/gSPVf6RMB1jKk1kAOGFTMUI9kB03f/qUU51cphqBN9eNgJkXWDW1b9f3u/wS+h16v07PDHuaMEJ7yA==" providerName="System.Data.SqlClient"/>
    <add name="SQL_PROD_WS" connectionString="TedvE2mbo00jmN4kPh9qMRKO1enVfynPp4KjfJyYw2Ir6IlnrCdRJPDm0M5L6lEvgALHkacHzgcSGSFR8LHlQQSsMF+luY4Abz5ERwjPVmBQxP5b08RwyB8+ryPaqvicwifGrjKwU5f1LOunaXnxPg==" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <!--<runtime>
    <gcAllowVeryLargeObjects enabled = "true" />
  </runtime>-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <!--100 Mb. Minutos 20 -->
    <httpRuntime maxRequestLength="1000000000" executionTimeout="1200"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength = "1000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>