<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyConexionSql" connectionString="Server=10.10.10.206;Database=BdWebService;User ID=sa;Password=Bata2013;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <!--100 Mb. Minutos 20 -->
    <httpRuntime maxRequestLength="102400" executionTimeout="1200"/>
  </system.web>
</configuration>